{% extends "layout.html" %}

{% block main %}

    <div class="question row panel panel-default" style="background-color: ivory">
        <div class="span3">
            <div align="center">
                <img src="/avatar.jpg" class="media-object" style="margin: 5px" width=150 heigth=150 alt=""/>
            </div>
            <div align="center">
                <h1>{{ question.author }}</h1>
            </div>
            <div align="center">
                <a class="btn btn-inverse" href="" data-liketype="q" data-vote="-" data-id="" data-url="/like">-</a>
                <span class="badge">{{ question.likes_num }}</span>
                <a class="btn btn-inverse" href="" data-liketype="q" data-vote="+" data-id="" data-url="/like">+</a>

            </div>
        </div>

        <div class="span5">
            <a href="#"><h3>{{ question.title }}</h3></a>
            <hr/>
            <div class="questiontext">
                <p>{{ question.text }}</p>
            </div>
        </div>
        <div class="span5">
            <p>{{ question.date }}</p>
            </p>
				<span>
                    <a>Tags:</a>
                    {% for t in question.taglist %}
                        <a href="{% url 'tag' t.text %}">{{ t.text }}</a>
                    {% endfor %}
				</span>
            </p>
        </div>
    </div>

    {% if answers %}
        <h2>Answers:</h2>
        {% for a in answers %}
            <div class="answer row panel" style="background-color: #ffffff">
            <div class="span3">
                <div align="center">
                    <img src="/avatar.jpg" class="media-object" style="margin: 5px" width=90 heigth=90 alt=""/>
                </div>
                <div align="center">
                    <h5>{{ a.author }}</h5>
                </div>
                <div align="center">
                    <a class="btn btn-inverse" href="" data-liketype="q" data-vote="-" data-id="" data-url="/like">-</a>
                    <span class="badge">{{ a.likes_num }}</span>
                    <a class="btn btn-inverse" href="" data-liketype="q" data-vote="+" data-id="" data-url="/like">+</a>
                </div>
            </div>

            <div class="span9">
                <div class="answertext">
                    <p>{{ a.text }}</p>
                </div>
            </div>
                <div><span style="vertical-align: bottom">{{ a.date }}</span></div>
            <span class="label pull-right">{% if a.is_right %}Correct!{% endif %}</span>
            </div>
        {% endfor %}

    {% else %}
        <div class="row">
            <div class="col-md-12">
                <h2>No answers yet</h2>
            </div>
        </div>
    {% endif %}



    <div class="pagination">
    <span class="step-links">
        {% if answers.has_previous %}
            <a href="?page={{ answers.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ answers.number }} of {{ answers.paginator.num_pages }}
        </span>

        {% if answers.has_next %}
            <a href="?page={{ answers.next_page_number }}">next</a>
        {% endif %}
    </span>
    </div>


{% endblock %}