{% extends "layout.html" %}

{% block main %}

		<div class = "question row panel panel-default" style="background-color: #ffffff">
			<div class = "span3">
				<div align="center">
					<img src="/avatar.jpg" class="media-object" style="margin: 5px" width=150 heigth=150 alt=""/>
 				</div>
 				<div align="center">
					 <h1>{{question.author}}</h1>
				</div>
                <div align="center">
					<a class="btn btn-inverse" href="" data-liketype="q" data-vote="-" data-id="" data-url="/like">-</a>
                    <span class="badge">{{ question.likes_num }}</span>
					<a class="btn btn-inverse" href="" data-liketype="q" data-vote="+" data-id="" data-url="/like">+</a>
				</div>
			</div>

			<div class = "span5">
				<a href="#"> <h3>{{question.title}}</h3> </a>
				<hr/>
				<div class="questiontext">
					<p>{{question.text}}</p>
				</div>
			</div>
			<div class="span5">
			<p>{{question.date}}</p>
			<p>
			<h4 href="/question?id={{Question.id}}">Answer ({{Question.answer_set.count}})</h4>
				<span style="margin-left: 5%;">
                    <a>Tags:</a>
					{% for t in question.taglist %}
                        <a href="{% url 'tag' t.text %}">{{ t.text }}</a>
                    {% endfor %}
				</span>
			</p>
			</div>
		</div>




	<div class="pagination">
		<ul>
			<li> <a href= "">First</a> </li>
			<li>
			{% if question_page.has_previous %}
				<a href= "">Prev</a>
			{% endif %}
			</li>

			{% for page in question_page.paginator.page_range %}
			{% if page < max_page and page > min_page %}
			<li class="{% if question_page.number == page %}active{% endif %} "> <a href=""> {{page}} </a> </li>
			{% endif %}
			{% endfor %}

			<li>
			{% if question_page.has_next %}
				<a href= "">Next</a>
			{% endif %}
			</li>
			<li> <a href= "">Last</a> </li>
		</ul>
    </div>


{% endblock %}